{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Home{% endblock %}
{% block body %}
<!-- <a href="{%url 'feed:post'%}">
  To Post  &rarr;
</a> -->
<div class="container">
    <div class="d-flex justify-content-between gap-2 flex-wrap">
        {% for post in objects %}
        <div>
        <h1>{{post.text}}</h1>
        {% thumbnail post.image "100x100" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}